@media screen and (max-width: 830px) {
	header {
		justify-content: space-around;
	}
}

@media screen and (max-width: 600px) {
   .new_user_container {
      width: 100%;
   }
   div.validity_pass {
      display: block;
   }

   .settings_input {
      width: 95%;
   }

   .text_validity_pass {
      display: block;
   }
   
   table thead {
      display: none;
   }

   table tr {
      display: block;
      margin-bottom: 40px;
   }

   table td {
      display: block;
      text-align: right;
   }

   table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
   }
}

@media screen and (max-width: 420px) {
   #path {
      display: none;
   }

   table tr {
      width: 90%;
   }
}