@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

   /* Font */
   --font: 'Rubik', sans-serif;

   /* Tailles typo */
   --text-xxl: 4.8rem;
   --text-xl: 3.6rem;
   --text-l: 2.2rem;
   --text-m: 1.6rem;
   --text-s: 1.4rem;

   /* Couleurs */
   --text-color: #1B2032;
   --light-color: white;
   --orange-color: #FB4210;
   --blue-color: #4C39E9;
   --alert-color: #f39494;
   --error-color: #b30000;
   --gray-100: #eeeeee;
   --gray-150: #e0e0e0;
   --gray-200: #c0bebe;
   --gray-300: #969696;
}


/* vvv General vvv */

html {
   font-size: 62.5%;
}

body {
   margin: 0;
   font-family: var(--font);
   font-size: var(--text-m);
   color: var(--text-color);
}

html, body {
   max-width: 100%;
   overflow-x: hidden;
}

a {
   text-decoration: none;
   color: var(--orange-color);
   transition-duration: 0.5s;
}

a:hover {
   color: var(--blue-color);
}

.error {
   color: var(--error-color);
   font-weight: bold;
   font-style: italic;
   text-align: center;
}

h3, h4 {
   color: var(--text-color);
   margin: 0;
   padding: 0;
}

/* barre de recherche */
.search_bar {
   width: 100%;
   height: 30px;
   padding-left: 1%;
   border: 0;
   border-radius: 10px 0 0 10px;
   box-shadow: inset 0 0 5px #9b9b9b;
}

/* bouton de recherche */
.search_button {
   border : 1px solid var(--gray-200);
   border-radius: 0 10px 10px 0;
   box-shadow: inset 0 0 0px #9b9b9b;
   cursor:pointer;
}

/* ^^^ General ^^^ */


/* vvv login.php / Page de connexion vvv */

/* main */
#main_login {
   margin: 0;
   background-image: url('../img/background/Numerica2_Lieu.png');
   background-size: cover;
   background-repeat: no-repeat;
   display: grid;
   place-items: center;
   min-height: 100vh;
   transition-duration: 1s;
 }

 /* main */
 #main_login:before {
   left: 0%;
   background-color: rgba(0, 0, 0, 0.521);
   background-size: cover;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   width: 100%;
 }

/* div id="connexion" */
#connexion {
   position: absolute;
   background-color: rgba(255, 255, 255, 0.719);
   border-radius: 10% / 50%;
   /* width:45rem; */
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.747) ;
}

/* formulaire de connexion */
#connexion form {
   background-color: var(--white-color);
   padding: 1% 8% 6% 6%;
}

/* titre du formulaire de connexion */
#connexion h2 {
   text-align: center;
   margin: 0 0 1% 0;
}

/* logo page de connexion */
#img_login {
   display: grid;
   place-items: center;
   margin: 3% 2% 2% 0;
}

/* images de la page de connexion */
#connexion img {
   width: 30%;
   transition-duration: 0.5s;
}

/* survol des images de la page de connexion */
#connexion img:hover {
   transition-duration: 1s;
   width: 40%;
}

/* label des formulaires de la page de connexion */
.lab_login label {
   margin-left: 3%;
}

/* champs de formulaire de la page de ocnnexion */
.input_login {
   width: 100%;
   margin-bottom: 3%;
   height: 25px;
   border-radius: 10px;
   padding-left: 2%;
   border: 0;
   box-shadow: inset 0 0 5px #9b9b9b;
}

/* div id="submit_login_div" */
#submit_login_div {
   display: flex;
   justify-content: center;
}

/* bouton submit de la page de connexion */
#submit_login {
   margin-top: 5%;
   cursor:pointer;
   margin-left: auto;
   margin-right: auto;
   font-family: var(--font);
   font-size: var(--text-m);
   border: 0;
   width: 40%;
   height: 25px;
   box-shadow: rgba(0, 0, 0, 0.459) -1px 3px 8px 2px;
   background-color: var(--orange-color);
   color: var(--gray-100);
   border-radius: 10px;
   transition-duration: 1.5s;
}

/* survol du bouton submit de la page de connexion */
#submit_login:hover {
   background-color: var(--blue-color);
   color: var(--gray-100);
}

/* div contenant le réster connécter + mot de passe oublié */
#check_login {
   display: flex;
   justify-content: space-around;
   margin-bottom: 1rem;
}

/* ^^^ login.html / Page de connexion ^^^ */

/* vvv header.php / Header vvv */

/* header */
header {
   margin: 0;
   padding: 0;
   width: 100%;
   background-color : var(--gray-100);
   display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
   border: 1px solid var(--gray-300);
}

/* bannière principal */
#banniere {
   display: flex;
}

/* texte de la banière */
#banniere h3 {
   display: flex;
   padding: 12px 0px 0px 10px;
   font-weight:normal; 
   white-space: nowrap;
}

/* image de la bannière */
#banniere img {
   margin: 6px 0px 5px 10px;
   width: 3.3rem;
}

/* div contenant la champs de texte + le bouton pour la recherche */
#search_bar_header {
   margin: 0 5% 0 5%;
   flex-grow: 2;
   display: flex;
   border-radius: 10px;
}

/* navigation */
header nav {
   position: relative;
   display: flex;
}

/* bouton de navigation */
header nav a {
   width: 7.3rem;
   height: 4.4rem;
   display:inline-block;
   vertical-align:middle;
   line-height:normal;
   border-left: 1px solid var(--gray-300);
   display: flex;
   justify-content: center;
}

/* icones de navigation */
.icon_nav {
   width: 37%;
   height: 60%;
   padding-top: 0.9rem;
}

/* icones de recherche */
.icon_search {
   width: 2rem;
}

.icon_search:hover {
   width: 2rem;
   background-color: var(--gray-300);

}

#settings:hover, #user:hover {
   background-color: var(--gray-150);
   box-shadow: inset 0 0 5px #7e7e7e;
}

#power-button:hover {
   background-color: var(--alert-color);
   box-shadow: inset 0 0 5px #353535;
}

#settings_active {
   background-color: var(--gray-150);
   box-shadow: inset 0 0 5px #7e7e7e;
}

/* ^^^ header.html / Header ^^^ */


/* vvv Principal.html / main de la page principal vvv */

#main_principal {
   background-color: var(--text-color);
   display: grid;
   grid-template-columns: 23rem auto;
}

.slide_bar {
   height: 1080px;
   color: white;
}

.main_display {
   background-color: var(--light-color);
   border-radius: 30px 0 0 0;
   padding: 2rem 0 0 3rem;
}

.main_display p {
   margin: 0 0 2rem 0;
   padding: 0;
}

#research_grid {
   display: grid;
   place-items: center;
}

#research_main {
   margin-top: 35%;
   display: grid;
   place-items: center;
   position: absolute;
   background-color: var(--light-color);
   margin-left: auto;
   margin-right: auto;   
   padding: 1rem 2rem 2rem 1.3rem;
   border-top: 1px solid var(--gray-300);
   border-bottom: 1px solid var(--gray-300);
   border-radius: 30px 0 30px 0;
    box-shadow: rgba(0, 0, 0, 0.089) -1px 3px 8px 2px;
}

#research_main h4 {
   margin-top: 1rem;
}

#search_bar_main {
   margin-top: 1rem;
   display: flex;
   border-radius: 10px;
}

/* barre de recherche de la page principal*/
.search_bar_main {
   height: 30px;
   padding-left: 3%;
   border: 0;
   border-radius: 10px 0 0 10px;
   box-shadow: inset 0 0 5px #9b9b9b;
}


/* ^^^ principal.php / main de la page principal ^^^ */


/* vvv settings.php / Page des paramètres administrateur vvv */

#new_user_container {
   margin: 1% 0 0 3%;
}

.elem_setting {
   margin-bottom: 1rem;
}

#check_pass  {
   width: 45rem;
   font-size: var(--text-s);
}

.validity_pass {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.validity_pass div {
   display: flex;
}

.password_val {
   display: none;
}

.password_text{
   text-decoration: line-through;
}

/* ^^^ settings.php / Page des paramètres administrateur ^^^ */