@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

   /* Font */
   --font: 'Rubik', sans-serif;

   /* Tailles typo */
   --text-xxl: 4.8rem;
   --text-xl: 3.6rem;
   --text-l: 2.2rem;
   --text-m: 1.6rem;
   --text-s: 1.4rem;

   /* Couleurs */
   --text-color: #1B2032;
   --light-color: white;
   --orange-color: #FB4210;
   --blue-color: #4C39E9;
}


/* vvv General vvv */

/* s */

html {
   font-size: 62.5%;
 }

body {
   margin: 0;
   font-family: var(--font);
   font-size: var(--text-m);
   color: var(--text-color);
}

a {
   text-decoration: none;
   color: var(--orange-color);
   transition-duration: 0.5s;
}

a:hover {
   color: var(--blue-color);
}

/* ^^^ General ^^^ */


/* vvv Index.html / Page de connexion vvv */

#main_login {
   display: grid;
   place-items: center;
   min-height: 100vh;
 }

#connexion {
   border-radius: 10% / 50%;
   width:45rem;
   margin-left: auto;
   margin-right: auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#connexion form {
   padding: 1% 8% 6% 6%;
}

#connexion h2 {
   margin: 0;
   text-align: center;
   margin-bottom: 1%;
}

#img_login {
   display: grid;
   place-items: center;
   margin-top: 3%;
   margin-bottom: 2%;
}

#connexion img {
   width: 30%;
   transition-duration: 0.5s;
}

#connexion img:hover {
   transition-duration: 1s;
   width: 40%;
}

.lab_login label {
   margin-left: 3%;
}

.input_login {
   width: 100%;
   margin-bottom: 3%;
   height: 25px;
   border-radius: 10px;
   padding-left: 2%;
   border: 0;
   box-shadow: inset 0 0 5px #9b9b9b;
}

#submit_login_div {
   display: flex;
   justify-content: center;
}

#submit_login {
   margin-top: 5%;
   cursor:pointer;
   margin-left: auto;
   margin-right: auto;
}

#check_login {
   display: flex;
   justify-content: space-around;
   gap: 10%;
}

/* ^^^ Index.html / Page de connexion ^^^ */