@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

   /* Font */
   --font: 'Rubik', sans-serif;

   /* Tailles typo */
   --text-xxl: 4.8rem;
   --text-xl: 3.6rem;
   --text-l: 2.2rem;
   --text-m: 1.6rem;
   --text-s: 1.4rem;

   /* Couleurs */
   --text-color: #1B2032;
   --light-color: white;
   --orange-color: #FB4210;
   --blue-color: #4C39E9;
   --gray-100: #e0e0e0;
   --gray-200: #c0bebe;
}


/* vvv General vvv */

html {
   font-size: 62.5%;
}

body {
   margin: 0;
   font-family: var(--font);
   font-size: var(--text-m);
   color: var(--text-color);

   
}

a {
   text-decoration: none;
   color: var(--orange-color);
   transition-duration: 1s;
}

a:hover {
   color: var(--blue-color);
}

/* ^^^ General ^^^ */


/* vvv Index.html / Page de connexion vvv */

#main_login {
   left: 0;
	bottom: 0;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   display: grid;
   place-items: center;
   min-height: 100vh;
 }

 /* #main_login:before {
   content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-image: url("../img/background/HotelTertiaire_Bat.jpg") ;
   background-size: contain;
	background-repeat: no-repeat;
	filter: blur(5px);
	z-index: 0;
 } */

#connexion {
   position: relative;
   background-color: rgba(255, 255, 255, 0.589);
   border-radius: 10% / 50%;
   width:45rem;
   margin-left: auto;
   margin-right: auto;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#connexion form {
   background-color: var(--white-color);
   padding: 1% 8% 6% 6%;
}

#connexion h2 {
   text-align: center;
   margin: 0 0 1% 0;
}

#img_login {
   display: grid;
   place-items: center;
   margin: 3% 2% 2% 0;
}

#connexion img {
   width: 30%;
   transition-duration: 0.5s;
}

#connexion img:hover {
   transition-duration: 1s;
   width: 40%;
}

.lab_login label {
   margin-left: 3%;
}

.input_login {
   width: 100%;
   margin-bottom: 3%;
   height: 25px;
   border-radius: 10px;
   padding-left: 2%;
   border: 0;
   box-shadow: inset 0 0 5px #9b9b9b;
}

#submit_login_div {
   display: flex;
   justify-content: center;
}

#submit_login {
   margin-top: 5%;
   cursor:pointer;
   margin-left: auto;
   margin-right: auto;
   font-family: var(--font);
   font-size: var(--text-m);
   border: 0;
   width: 40%;
   height: 25px;
   box-shadow: rgba(0, 0, 0, 0.459) -1px 3px 8px 2px;
   background-color: var(--orange-color);
   color: var(--gray-100);
   border-radius: 10px;
   transition-duration: 1.5s;
}

#submit_login:hover {
   background-color: var(--blue-color);
   color: var(--gray-100);
}

#check_login {
   display: flex;
   justify-content: space-around;
   gap: 10%;
}

/* ^^^ Index.html / Page de connexion ^^^ */